<div class="flex flex-col w-full h-screen justify-between lg:flex-row">
  <div class="image w-3/5 h-screen overflow-y-auto ">
    <div class="flex flex-col w-3/5 mx-auto mt-16">
      <!-- Circle -->
      <div class="w-40 h-10 flex justify-between items-center leading-tight">
        <div class="circle w-7 h-6"></div>
        <div class="ml-6 font-bold uppercase tracking-widest">Base apparel</div>
      </div>
      <!-- Title -->
      <div class="container__title flex flex-col text-5xl mt-16 mb-8">
        <span class="title__red text-primary text-8xl uppercase tracking-widest font-light">We're</span>
        <span class="text-8xl tracking-widest uppercase font-black">Coming Soon</span>
      </div>
      <!-- Description -->
      <div class="w-100">
        <span class="text-xl text-primary">Hello fellow shoppers! We're currently building our new fashion store. Add
          your email below to stay up-to-date with announcements and our launch deals.</span>
      </div>
      <!-- Email -->
      <div class="container__email">
        <input type="text" placeholder="Email Address" class="input" #email>
        <div class="container__submit">
          <div class="submit" (click)="onClickSubmit(email.value)">></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container__image w-2/5 h-full bg-cover"></div>
</div>
