.container__image {
  background: url('./../assets/img/hero-desktop.jpg') no-repeat;
  background-size: cover;
}

.image {
  background: url('./../assets/img/bg-pattern-desktop.svg') no-repeat;
  background-size: cover;
}

.circle {
  border: double 3px transparent;
  border-radius: 80px;
  background-image: linear-gradient(hsl(0, 0%, 100%), hsl(0, 100%, 98%)), radial-gradient(circle at top left, hsl(0, 80%, 86%),hsl(0, 74%, 74%));
  background-origin: border-box;
  background-clip: content-box, border-box;
}
